html {
}
body {
  background: transparent;
  padding: 2em;
}
.container {
  background-color: #f0ede7;
  color: #54301a;
}
@media(max-width:766px){
  .container {
    margin: 1em auto;
    width: 95%;
  }
}
@media(min-width:766px){
  .container {
    margin: 2em auto;
    max-width: 1000px;
    width: 80%;
  }
}
h1, h2 {
  margin: 1em .5em;
}
p,ul,li {
  font-size: 14pt;
  margin: 1em;
  line-height: 2em;
}
a:link, a:visited {
  color: #cd6847;
  font-weight: bold;
}
a:active, a:hover {
  text-decoration: underline; 
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.left {
  text-align:left;
}
.right {
  text-align:right;
}
.center {
  text-align:center;
}
